# Heatmap info

In [1]:
import pandas as pd
import csv

In [2]:
random = pd.read_csv("countriesRandom2.csv")

In [3]:
random.shape

(183, 7)

In [4]:
heatmap = pd.read_csv("countriesheat.csv")

In [5]:
heatmap.shape

(146, 13)

In [6]:
random.head()

,id,2008,2009,2010,2011,2012,2013
0,AFG,14487.216830,3613.373330,3117.170779,14868.716430,14749.045270,10205.154900
1,AGO,2014.401013,9924.408216,154.498607,4416.138856,8589.600280,759.932439
2,ALB,4079.154455,16582.255410,3377.846283,7167.111603,10284.480040,5556.694056
3,ARE,13798.982190,10222.438940,14935.561980,6066.466767,9957.120604,9459.331641
4,ARG,16823.422430,4667.990667,14900.908890,9125.736618,13885.415120,19570.424500

In [7]:
random.columns

Index([u'id', u'2008', u'2009', u'2010', u'2011', u'2012', u'2013'], dtype='object')

In [10]:
random = random.drop(['2008', '2009', '2010', '2011', '2012', '2013'], axis=1)

In [11]:
random.shape

(183, 1)

In [12]:
heatmap.head()

,id,January,February,March,April,May,June,July,August,September,October,November,December
0,AFG,27.0,16.0,5.0,15.0,51.0,253.0,42.0,66.0,104.0,144.0,72.0,71.0
1,ALB,23.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,6.0,8.0,0.0
2,DZA,0.0,0.0,7.0,1.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,AGO,0.0,3.0,9.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,1.0,1.0
4,ATA,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0

In [30]:
join = pd.merge(heatmap, random, how='outer', on='id' )

In [31]:
join.shape

(201, 13)

In [32]:
join.head()

,id,January,February,March,April,May,June,July,August,September,October,November,December
0,AFG,27.0,16.0,5.0,15.0,51.0,253.0,42.0,66.0,104.0,144.0,72.0,71.0
1,ALB,23.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,6.0,8.0,0.0
2,DZA,0.0,0.0,7.0,1.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,AGO,0.0,3.0,9.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,1.0,1.0
4,ATA,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0

In [36]:
join = join.fillna(value='0')

In [38]:
join.to_csv('countriesheat2.csv', index=False)